:root {
    --background-color: #242629;
    --secondary-color: #94a1b2;
    --highlight-color: #7f5af0;
    --font-color-primary: #fffffe;
    --footer-background-color: rgb(20, 20, 20);

}

body {
    background-color: var(--background-color);
    margin: 0;
    margin-bottom: 0;
    color: var(--font-color-primary);
    text-align: center;
}

.footer{
    border-top: 5px;
    border-color: var(--highlight-color);
    border-style: solid;
    border-left: none;
    border-bottom: none;
    border-right: none;
    position:sticky;
    color:var(--font-color-primary);
    margin-top: 5%;
    background-color: var(--footer-background-color);
    height: 10em;
}

  .footercontent{
    display: flex;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: auto;
}

.link{
    margin-right: 12%;
    margin-left: 12%
}

.linktext{
    text-decoration: none;
    color: var(--font-color-primary);
}

.linktext:hover{
    color: var(--highlight-color);
}
